{% extends 'docs.html.twig' %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
			<h1>{{ page.longtitle }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
    </div>
{% endblock %}
